.lesson-wrapper {
  background: #ccc;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;

  .lesson-title {

  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;

    .delete-btn {
      color: red;
      cursor: pointer;
      width: 2em;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }

    .edit-btn {
      color: #898989;
      cursor: pointer;
      width: 2em;
      display: flex;
      justify-content: center;
      position: relative;
      left: 2px;
    }
  }
}
