$primary: #64b653;
$secondary: #629a52;
.add-lesson-form{
  .form{
    margin: 20px;
  }
}

#addLesson{
  background: linear-gradient(to right, $primary, $secondary);
  border: none;
  border-radius: 25px;
  padding: 10px 40px;
  transition: transform .2s ease-in;

  &:hover{
    transform: scale(1.07);
  }
}