@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$primary: #fa752a;
$secondary: #ee8d5c;
$white: #fff;
$gray: #9b9b9b;

.login-wrapper {
  min-height: 100vh;
  font-size: 1.5rem;
  //background-color: #222222;
  //background: url("../../img/loginBg.png");
  background: linear-gradient(125.08deg, #eed97e 8.49%, #3d716f 98.1%);
  font-family: 'Roboto', sans-serif;

}

.background-holder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#333, 0.5);
}

.login-form {
  width: 700px;
  display: flex;
  background: $white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 6px 20px 10px #565656;
}

.form {
  width: 50%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.login-image {
  background: url("../../img/compass.jpg");
  background-size: cover;
  width: 50%;
}

.login-header {
  .golden-compass {
    display: block;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;

    .g-letter {
      color: $secondary;
    }
  }

}

#loginBtn {
  background: linear-gradient(to right, $primary, $secondary);
  border: none;
  border-radius: 25px;
  padding: 10px 40px;
  transition: transform .2s ease-in;

  &:hover {
    transform: scale(1.07);
  }
}

