.add-slide-wrapper {
  border: 1px solid #BBBBBBFF;
  padding: 1em .5em;

  .form-group.field.abacus {
    margin-top: 0;
    padding: 25px 0;
  }

  .submit-btn-wrapper {
    justify-content: left;
  }
}